<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>      
      <add name="CTO_SQL_ConnectionString" connectionString="Data Source=IPTSQL;Initial Catalog=CTO;Persist Security Info=True;User ID=fisya;Password=gogofis" providerName="System.Data.SqlClient" />
    </connectionStrings>  
    <appSettings>
      <add key="Type" value="ModbusTCP" />
      <add key="Host" value="192.168.10.50" />
      <add key="Port" value="8000" />
      <add key="IntervalSec" value="30" />
      <add key="OptionSnAddress" value="0" />
      <add key="OptionSnLength" value="7" />
      <add key="OptionWeightAddress" value="9" />
      <add key="OptionLengthAddress" value="10" />
      <add key="OptionWidthAddress" value="12" />
      <add key="OptionHeightAddress" value="14" />
      <add key="Accuracy" value="10" />
      <add key="SendSignalAdress" value="20" />
      <add key="SendSignalValue" value="2" />
      <add key="MonitorMode" value="On" />
    </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>